@import "./variables";

.AppHeader {
  background: @header_bg;
  color: @header_fg;
  padding: 10px 20px;
  box-shadow:
    0 0 0 1px fade(black, 30%),
    0 0 10px fade(black, 20%);

    > * {
      vertical-align: middle;
    }

    .AppTitle,
    .AppSubtitle {
      margin-left: 1em;
    }
}
