@import "./mixins";
@import "./variables";

.AppSettings {
  transform: translate(0, 0);
  z-index: @z_index_settings;
  position: fixed;
  background: @dark_gray;
  color: @white;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 10px;
  transition: 300ms transform ease-in;

  &.hidden {
    transform: translate(0, -100vh);
  }
}

.AppSettingsContent {
  padding: 10px;
}

.AppSettingsButton {
  .SettingsButton();
  display: block;
}

.AppSettingGroup {
  padding-bottom: 10px;
}

.AppSettingHeader {
  font-size: 120%;
  font-weight: 600;
  margin-bottom: 10px;
}

.AppSettingDescription {
  margin-bottom: 10px;
}

.AppSettingInput {
  .SettingsInput();
}
