@import "./variables";
@import "./mixins";

.AppHeader {
  .FlexRow();
  z-index: @z_index_header;
  background: @header_bg;
  color: @header_fg;
  padding: @header_padding;
}

.AppIcon {
  flex: 0 0 auto;
}

.SettingsButton {
  flex: 0 0 auto;
  font-weight: 200;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  border: 1px solid fade(black, 10%);
  border-radius: 2px;
  padding: 0 1em;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:hover, &:active {
    background: fade(black, 10%);
  }
}

.AppTitle {
  font-weight: bold;
  flex: 1 1 auto;
  margin-left: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AppSubtitle {
  font-weight: normal;
  opacity: 0.6;
}

.AppSubtitle:before {
  content: " • ";
}
