@import "./mixins";
@import "./variables";

.AppSettings {
  transform: translate(0, 0);
  z-index: @z_index_settings;
  position: fixed;
  background: @dark_gray;
  color: @white;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  flex-wrap: nowrap;
  transition:
    300ms transform ease-in,
    300ms opacity ease-in;

  &.hidden {
    transform: translate(0, -100vh);
    opacity: 0;
  }
}

.AppSettingsTitleArea {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.AppSettingsTitle {
  flex: 1 1 auto;
  font-size: 130%;
  font-weight: bold;
  text-transform: uppercase;
}

.AppSettingsContent {
  flex: 1 1 auto;
  border-top: 2px solid fade(white, 10%);
  padding: 10px;
  overflow-y: auto;
}

.AppSettingsCloseButton {
  .SettingsButton();
  flex: 0 0 auto;
}

.AppSettingGroup {
  padding-bottom: 20px;
  margin-bottom: 20px;

  &:last-child {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

.AppSettingHeader {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 5px;
}

.AppSettingDescription {
  margin-bottom: 10px;
}

.AppSettingInput {
  .SettingsInput();
}

.AppSettingCheckbox {
  vertical-align: bottom;
  margin-right: 5px;
}
