@import "./variables";
@import "./mixins";

.AppMain {
  .FlexColumn();
  flex: 1 0 auto;
}

.MainActionBar {
  .FlexRow();
  z-index: @z_index_toolbar;
  flex: 0 0 auto;
  // border-bottom: 1px solid fade(@black, 20%);
  box-shadow: 0 1px 0 0 fade(@black, 20%);
  padding: @header_padding;
}

.LogView {
  z-index: @z_index_logs;
  flex: 1 0 auto;
  background: @white;
}

.SecondaryActionBar {
  .FlexRow();
  z-index: @z_index_toolbar;
  flex: 0 0 auto;
  // border-top: 1px solid fade(@black, 20%);
  box-shadow: 0 -1px 0 0 fade(@black, 20%);
  padding: @header_padding;
}
