@import "./variables";

.LogView {
  overflow-y: auto;
  height: 0;
}

.LogEntry {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid fade(black, 10%);
  overflow-x: auto;
  white-space: pre;
}
