@import "./variables";

.LogView {
  overflow-y: auto;
  height: 0;
}

.LogEntry {
  margin: 10px;
  padding: 5px 10px;
  background: @light_gray;
  border: 1px solid fade(black, 10%);
  border-radius: 2px;
  overflow-x: auto;
  white-space: pre;
}
