@import "./variables";
@import "./mixins";

.MainActionBar {
  .FlexRow();
  z-index: @z_index_toolbar;
  flex: 0 0 auto;
  border-bottom: 1px solid fade(@black, 20%);
  box-shadow: @bar_shadow;
  padding: @header_padding;
}
