@import "./variables";

.FlexRow() {
  display: flex;
  flex-flow: row nowrap;
}

.FlexColumn() {
  display: flex;
  flex-flow: column nowrap;
}

.SimpleButton() {
  font-weight: 200;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0 1em;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  .ThemeLight & {
    color: @black;
    border-color: fade(black, 10%);

    &:hover,
    &:active {
      background: fade(black, 10%);
    }
  }

  .ThemeDark & {
    color: @white;
    border-color: fade(white, 10%);

    &:hover,
    &:active {
      background: fade(white, 10%);
    }
  }
}


.SettingsButton() {
  .SimpleButton();
  color: @white;
  font-size: 100%;
  border-width: 2px;
  border-color: fade(white, 10%);

  &:hover, &:active {
    background: fade(white, 10%);
  }
}

.SettingsInput() {
  background: fade(black, 20%);
  color: @white;
  font-weight: 200;
  border: 2px solid fade(white, 30%);
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  padding: 3px 5px;
  border-radius: 4px;

  &:focus {
    outline: 0;
  }
}
