@black: #000;
@white: #fff;

@gray: #353b46;
@dark_gray: #2a2f3a;

@light_gray: #f8f8f8;

@red: #cc0000;
@light_red: #ef5350;
@pink: #f49ac2;
@yellow: #fff799;

@dark_header_bg: @gray;
@dark_header_fg: @white;

@light_header_bg: @white;
@light_header_fg: @black;

@header_padding: 10px;

@z_index_settings: 3;
@z_index_header: 2;
@z_index_toolbar: 1;
@z_index_logs: 0;

@font_mono: Menlo, Consolas, monospace;
@font_normal: Helvetica, Arial, sans-serif;

@bar_shadow: 0 0 12px fade(@black, 20%);
