@white: #fff;
@black: #000;
@dark_gray: #444;
@darker_gray: #333;
@darkest_gray: #222;
@gray: #666;
@red: #cc0000;
@light_red: #ef5350;
@pink: #f49ac2;
@yellow: #fff799;
@light_gray: #f8f8f8;

@dark_header_bg: @dark_gray;
@dark_header_fg: @white;

@light_header_bg: @white;
@light_header_fg: @black;

@header_padding: 10px;

@z_index_settings: 3;
@z_index_header: 2;
@z_index_toolbar: 1;
@z_index_logs: 0;

@font_mono: Menlo, Consolas, monospace;
@font_normal: Helvetica, Arial, sans-serif;

@bar_shadow: 0 0 12px fade(@black, 20%);
